{% extends "main/base.html"%}
{% block title %}View List{% endblock%}

{% block content %}
    <h1>{{ls.name}}</h1>
    <form method="POST" action="#">
    <ul>
        {% for item in ls.item_set.all %}
            {% if item.complete == True %}
                <li>{{item.text}} - COMPLETE</li>
            {%else %}
                <li>{{item.text}} - INCOMPLETE</li>
            {% endif %}
        {% endfor %}
    </ul>
    <button type="submit", name="save", value="save">Save</button>
    <input type="text", name="new">
    <button type="submit", name="newItem", value="newItem">Add Item</button>
    </form>
{% endblock %}